@import '~@angular/material/theming';
@import '~@angular/material/core';
$primary: mat-palette($palette-name: indigo, default: 500);
$accent: mat-palette($palette-name: pink, default: A200);
mat-all-core($primary, $accent);
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}